.navigation {
  background-color: #202020;
  overflow: hidden;
  &__user {
    width: 4rem;
    & img {
      width: 100%;
      height: auto;
      object-fit: fill;
    }
  }
  &__item {
    min-width: 10rem;
    font-size: 2rem;
    text-align: center;
    &:hover,
    &:active {
      color: white;
    }
  }
}
.spinner-container {
  z-index: 110;
  @include absCenter;
}
#sipnnerEmergency {
  position: relative;
  z-index: 110;
  width: 100%;
  height: 100%;
  background-color: rgba(rgb(90, 90, 90), 0.8);
}
