footer.footer
  .footer__logo-box
    picture.footer__logo
      img(src='/img/letter-e-64.png' alt='Full logo')
  .row
    .col-1-of-2
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link(href='') Company
          li.footer__item
            a.footer__link(href='') Contact us
          li.footer__item
            a.footer__link(href='') Carrers
          li.footer__item
            a.footer__link(href='') Privacy Policy
          li.footer__item
            a.footer__link(href='') Terms
    .col-1-of-2
      p.footer__copyright
        | Built by 
        a.footer__link(href='#') Jay Kotak 
        |  his
        |             Personal Project 
        a.footer__link(href='#') MyEmergency 
        | .
        |             Copyright &copy; Lorem ipsum dolor, sit amet consectetur adipisicing
        |             elit. Qui, corporis hic quo asperiores quae vel quas, nemo assumenda
        |             illum sint voluptate, enim nulla nesciunt consequatur? Harum
        |             inventore doloribus perspiciatis accusantium.
