extends base

block content
  main
    section.emergencyMap
      button.btn-scroll__helpline
        i.medium.material-icons arrow_downward
      button.btn-help 
        i.medium.material-icons gps_fixed
      #map(data-emergencyId = `${JSON.stringify(emergency._id)}`)
    section.emergencyChatBox
      h2.heading-secondary.emergencyChatBox__heading.u-center-text.u-margin-bottom-small.u-margin-top-small
        | Chat Section
      #message-container.emergencyChatBox__messenger(data-username = `${user===undefined?null:JSON.stringify(user.name)}`)
        if user
          if emergency
            each chat in emergency.chats
              -let Chat = chat.split(':')[0]==user.name?`You:${chat.split(':')[1]}`:chat;
                .emergencyChatBox__message=Chat
      form#send-container
        input#message-input(type='text' placeholder='      Enter Your Message')
        if(user)
          button#send-button.btn(type='submit') Send
        else
          a#send-button.btn(href='/login') Login To Send Messages 
