extends base

block content
  main.section-login-form
    section.login-from
      h1#loginHeading.heading-secondary.login-form__heading.u-center-text.u-margin-top-big
        | Forgot Password
      .row
        form#forgotPassword-form.col.s12
          .input-field.col
            input#email.validate(type='email')
            label#emailLabel.login-from__input(for='email') Email
          .col.row
              button.login-from__input-button(type='submit') Submit



