extends base

block content
  main.section-login-form
    section.login-from
      h1.login-form__heading.u-center-text.u-margin-top-big
        | Forgot Password
      form#forgotPassword-form
        input#email(type='text' placeholder='Email')
        br
        button(type='submit') Submit




