extends base

block content
  main.section-login-form
    section.login-from
      h1.login-form__heading.u-center-text.u-margin-top-big
        | Login Form
      form#form
        input#email(type='text' placeholder='Email')
        br
        input#password(type='password' placeholder='Password')
        br
        button(type='submit') Submit




