extends base

block content
  main
    section.reset-passwordform
      h1.u-center-text Reset Password
      form.row#reset-passwordForm
        .input-field.col.s6
          input#password.validate(type='text' placeholder='New Password')
          input#passwordConfirm(type='text' placeholder='Pasword Confrim')
          input(type='submit' placeholder='Submit')
