/*

0-600px         Phone
600px-900px     Tablet potrait
900px-1200px    Tablet landscape
[1200px-1800px] is where our nornal styles apply
1800px          Big desktop


$breakpoint argument choices:
-phone
-tab-port
-tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*without this some height ,width , padding are adder to box whenever created which is not usefull*/ }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes scaleDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -25%) scale(0.2);
    -webkit-transform: translate(-50%, -25%) scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2); } }

.pulse {
  overflow: visible;
  position: relative; }

.pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1; }

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10); }
  100% {
    opacity: 0;
    -webkit-transform: scale(20);
    transform: scale(20); } }

@keyframes pulse-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(20); }
  100% {
    opacity: 0;
    -webkit-transform: scale(30);
    transform: scale(30); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    /*block elements occupie entire width and create line breaks before and after them*/
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.emergencyMap {
  height: 80vh;
  width: 100wh;
  position: relative; }

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 0; }

.mapboxgl-marker {
  width: 25px;
  height: 25px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #777;
    display: inline-block;
    padding-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer_list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #55c57a;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        float: none;
        width: 100%; } }

.navigation {
  background-color: black; }
  .navigation__user {
    width: 4rem; }
    .navigation__user img {
      width: 100%;
      height: auto;
      object-fit: fill; }

.btn-emergency {
  text-transform: uppercase;
  text-align: center;
  background-color: orangered;
  height: 20rem;
  width: 20rem;
  padding: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 100;
  transition: all 1s;
  transform-origin: top;
  transform: translate(-50%, -50%);
  opacity: 1; }

.btn-refresh {
  position: absolute;
  z-index: 100;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: rgba(247, 247, 247, 0.8);
  top: 67vh;
  left: 85vw; }

.btn-copy {
  height: 6rem;
  width: 8rem;
  background-color: #55c57a;
  border-radius: 10px; }

.btn-floating {
  background-color: red;
  height: 1rem;
  width: 1rem;
  opacity: 0.3; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-help {
  position: absolute;
  z-index: 100;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: rgba(247, 247, 247, 0.8);
  top: 67vh;
  left: 85vw; }

.btn-scroll__helpline {
  position: absolute;
  z-index: 100;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  left: 49%;
  top: 72vh; }

.marker {
  background-image: url("../img/location-pin.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer; }

.nationalEmergencyHelpline {
  min-height: 80rem;
  padding: 2rem;
  background-color: #424d5c; }
  .nationalEmergencyHelpline__heading {
    width: 100%; }
  .nationalEmergencyHelpline__Card {
    position: relative;
    display: inline-block;
    background-color: #252423;
    height: 20rem;
    border-radius: 2rem; }
    .nationalEmergencyHelpline__Card-icon {
      display: inline-block;
      height: 6rem;
      width: 6rem;
      margin: 2rem;
      float: left; }
      .nationalEmergencyHelpline__Card-icon img {
        width: 100%;
        height: auto; }
    .nationalEmergencyHelpline__Card-btn {
      margin: 2rem;
      position: relative;
      display: inline-block;
      float: right; }
    .nationalEmergencyHelpline__Card-userName {
      display: inline-block;
      height: 6rem;
      width: 57%;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      line-height: 5rem;
      color: white;
      float: left;
      margin: 2rem 0rem 2rem 0rem; }
      @media only screen and (max-width: 75em) {
        .nationalEmergencyHelpline__Card-userName {
          width: 57%;
          font-size-adjust: 2rem; } }
      @media only screen and (max-width: 56.25em) {
        .nationalEmergencyHelpline__Card-userName {
          width: 55%; } }
    .nationalEmergencyHelpline__Card-phone {
      display: inline-block;
      background-color: #252423;
      color: white;
      height: 6rem;
      width: 52%;
      margin: 2rem;
      position: relative; }
      @media only screen and (max-width: 75em) {
        .nationalEmergencyHelpline__Card-phone {
          width: 40%; } }
      @media only screen and (max-width: 56.25em) {
        .nationalEmergencyHelpline__Card-phone {
          width: 52%; } }
      @media only screen and (max-width: 37.5em) {
        .nationalEmergencyHelpline__Card-phone {
          width: 40%; } }

.emergencyChatBox {
  height: 80rem;
  width: 100%;
  background-color: #333;
  position: relative;
  font-size: 10rem; }
  .emergencyChatBox__heading {
    position: absolute;
    width: 100%;
    top: 7%; }
  .emergencyChatBox__messenger {
    overflow: scroll;
    height: 70%;
    width: 90%;
    background-color: #777;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem; }
  .emergencyChatBox__message {
    position: relative;
    border-radius: 3px;
    background-color: #664d44;
    min-height: 5rem;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem;
    font-size: 3rem; }

.notifyAvengers {
  min-height: 80rem;
  width: 100%;
  background-color: #999;
  padding: 2rem; }
  .notifyAvengers__heading {
    width: 100%; }
  .notifyAvengers__card {
    position: relative;
    display: inline-block;
    background-color: #eee;
    height: 26.8rem;
    width: 25%;
    border-radius: 2rem;
    float: left; }
    .notifyAvengers__card-addButton {
      background-color: #252423;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .notifyAvengers__card-username, .notifyAvengers__card-phoneNumber {
      position: relative;
      background-color: #ee602c;
      display: inline-block;
      height: 6rem;
      width: 80%;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      line-height: 5rem;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 2rem; }
      @media only screen and (max-width: 75em) {
        .notifyAvengers__card-username, .notifyAvengers__card-phoneNumber {
          font-size-adjust: 2rem; } }
    .notifyAvengers__card-button-delete {
      position: relative;
      background-color: red;
      display: inline-block;
      height: 6rem;
      width: 80%;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      line-height: 5rem;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 2rem; }
      @media only screen and (max-width: 75em) {
        .notifyAvengers__card-button-delete {
          font-size-adjust: 2rem; } }
    .notifyAvengers__card-button-add {
      position: relative;
      background-color: lightgreen;
      display: inline-block;
      height: 6rem;
      width: 80%;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      line-height: 5rem;
      text-color: #252423;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 2rem; }
      @media only screen and (max-width: 75em) {
        .notifyAvengers__card-button-add {
          font-size-adjust: 2rem; } }

.form-user-data__profile-photo {
  width: 8rem;
  border-radius: 50%;
  overflow: hidden; }
  .form-user-data__profile-photo img {
    width: 100%;
    height: auto;
    object-fit: fill; }

.emergencies {
  min-height: 60vh;
  width: 100%; }
  .emergencies__searchBar {
    min-height: 10rem;
    width: 100%;
    background-color: #eee; }
    .emergencies__searchBar-distance-val {
      width: 40rem;
      height: 5rem; }
  .emergencies__Cards {
    position: relative;
    min-height: 30rem;
    width: 100%;
    background-color: cadetblue;
    padding: 1rem; }
  .emergencies__Card {
    position: relative;
    min-height: 7rem;
    width: 94%;
    border-radius: 1rem;
    background-color: cyan;
    margin: 1rem auto;
    font-size: 5rem; }
    .emergencies__Card-help, .emergencies__Card-cancel {
      position: absolute;
      border-radius: 5px;
      left: 95%;
      top: 50%;
      transform: translate(-95%, -50%); }

.section-login-form {
  height: 80vh;
  width: 100vw; }

.login-from {
  height: 100%;
  width: 100%; }
  .login-from__heading {
    color: black; }
  .login-from__input-button {
    position: absolute;
    left: 50%;
    transform: translateY(-50%); }

.section-signup-form {
  height: 80vh;
  width: 100vw; }

.signup-from {
  height: 100%;
  width: 100%; }
  .signup-from__heading {
    color: black; }
  .signup-from__input-button {
    position: absolute;
    left: 50%;
    transform: translateY(-50%); }

.chat-container {
  max-width: 1100px;
  background: #fff;
  margin: 30px auto;
  overflow: hidden; }

.chat-header {
  background: #667aff;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr; }

.chat-sidebar {
  background: #7386ff;
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll; }

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px; }

.chat-sidebar h3 {
  margin-bottom: 15px; }

.chat-sidebar ul li {
  padding: 10px 0; }

.chat-messages {
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll; }

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #e6e9ff;
  border-radius: 5px; }

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: #7386ff;
  opacity: 0.7;
  margin-bottom: 7px; }

.chat-messages .message .meta span {
  color: #777; }

.chat-form-container {
  padding: 20px 30px;
  background-color: #667aff; }

.chat-form-container form {
  display: flex; }

.chat-form-container input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1; }

/* Join Page */
.join-container {
  max-width: 500px;
  margin: 80px auto;
  color: #fff; }

.join-header {
  text-align: center;
  padding: 20px;
  background: #667aff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.join-main {
  padding: 30px 40px;
  background: #7386ff; }

.join-main p {
  margin-bottom: 20px; }

.join-main .form-control {
  margin-bottom: 20px; }

.join-main label {
  display: block;
  margin-bottom: 5px; }

.join-main input[type='text'] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%; }

.join-main select {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%; }

.join-main .btn {
  margin-top: 20px;
  width: 100%; }

@media (max-width: 700px) {
  .chat-main {
    display: block; }
  .chat-sidebar {
    display: none; } }

#send-container {
  background-color: #777;
  min-height: 8rem;
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 70rem; }
