/*

0-600px         Phone
600px-900px     Tablet potrait
900px-1200px    Tablet landscape
[1200px-1800px] is where our nornal styles apply
1800px          Big desktop


$breakpoint argument choices:
-phone
-tab-port
-tab-land
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*without this some height ,width , padding are adder to box whenever created which is not usefull*/ }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes scaleDown {
  0% {
    border-radius: 50% 50% 0% 50%;
    transform-origin: center;
    transform: translate(-50%, 0%) scale(1);
    -webkit-transform: rotate(45deg) translate(-50%, 0%) scale(1);
    -moz-transform: translate(-50%, 0%) scale(1);
    -ms-transform: translate(-50%, 0%) scale(1);
    -o-transform: translate(-50%, 0%) scale(1); }
  100% {
    border-radius: 50% 50% 0% 50%;
    transform-origin: center;
    transform: translate(-33%, 15%) scale(0.2);
    -webkit-transform: rotate(45deg) translate(-33%, 15%) scale(0.2);
    -moz-transform: translate(-33%, 0%) scale(0.2);
    -ms-transform: translate(-33%, 0%) scale(0.2);
    -o-transform: translate(-33%, 0%) scale(0.2);
    opacity: 0; } }

.pulse {
  overflow: visible;
  position: relative; }

.pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1; }

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10); }
  100% {
    opacity: 0;
    -webkit-transform: scale(20);
    transform: scale(20); } }

@keyframes pulse-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(20); }
  100% {
    opacity: 0;
    -webkit-transform: scale(30);
    transform: scale(30); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    /*block elements occupie entire width and create line breaks before and after them*/
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 3s; */ }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header {
  height: 95vh;
  width: 100wh;
  position: relative; }

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 0; }

.mapboxgl-marker {
  width: 25px;
  height: 25px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.btn-emergency {
  text-transform: uppercase;
  text-align: center;
  background-color: orangered;
  height: 20rem;
  width: 20rem;
  padding: 5rem;
  position: absolute;
  left: 47%;
  top: 35%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 100;
  transition: all 1s;
  transform-origin: top;
  transform: rotate(45deg);
  opacity: 0; }
  @media only screen and (max-width: 37.5em) {
    .btn-emergency {
      left: 45%;
      top: 35%; } }

.btn-refresh {
  position: absolute;
  z-index: 100;
  background-color: orangered;
  top: 85vh;
  left: 88vw; }

.btn-copy {
  height: 6rem;
  width: 8rem;
  background-color: #55c57a;
  border-radius: 10px; }

.btn-floating {
  background-color: red;
  height: 1rem;
  width: 1rem;
  opacity: 0.3; }

.marker {
  background-image: url("../img/location-pin.png");
  background-size: cover;
  width: 32px;
  height: 40px;
  cursor: pointer; }

.nationalEmergencyHelpline {
  height: 80rem;
  background-color: #333; }
  .nationalEmergencyHelpline__heading {
    width: 100%; }
  .nationalEmergencyHelpline__Card {
    position: relative;
    display: inline-block;
    background-color: #252423;
    height: 20rem;
    border-radius: 2rem; }
    .nationalEmergencyHelpline__Card-icon {
      display: inline-block;
      height: 6rem;
      width: 6rem;
      margin: 2rem;
      float: left; }
      .nationalEmergencyHelpline__Card-icon img {
        width: 100%;
        height: auto; }
    .nationalEmergencyHelpline__Card-btn {
      margin: 2rem;
      position: relative;
      display: inline-block;
      float: right; }
    .nationalEmergencyHelpline__Card-userName {
      display: inline-block;
      height: 6rem;
      width: 57%;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      line-height: 5rem;
      text-color: #252423;
      float: left;
      margin: 2rem 0rem 2rem 0rem; }
      @media only screen and (max-width: 75em) {
        .nationalEmergencyHelpline__Card-userName {
          width: 57%;
          font-size-adjust: 2rem; } }
      @media only screen and (max-width: 56.25em) {
        .nationalEmergencyHelpline__Card-userName {
          width: 55%; } }
    .nationalEmergencyHelpline__Card-phone {
      display: inline-block;
      height: 6rem;
      width: 52%;
      background-color: yellow;
      margin: 2rem;
      position: relative; }
      @media only screen and (max-width: 75em) {
        .nationalEmergencyHelpline__Card-phone {
          width: 40%; } }
      @media only screen and (max-width: 56.25em) {
        .nationalEmergencyHelpline__Card-phone {
          width: 52%; } }
