.btn {
  &-emergency {
    letter-spacing: 0.2rem;
    border: none;
    text-transform: uppercase;
    text-align: center;
    height: 22rem; //0.5
    width: 23rem; //0.5
    padding: 5rem; //2
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: linear-gradient(rgb(255, 38, 0), red);
    box-shadow: 0 0.3rem 0.8rem rgb(200, 27, 27),
      inset 0 0.2rem 0.3rem rgb(189, 16, 16);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 100;
    transition: all 1s;
    transform-origin: top;
    transform: translate(-50%, -50%);
    opacity: 1;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
  }
  &-refresh {
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    position: absolute;
    z-index: 5;
    height: 5rem;
    width: 5rem;
    text-align: center;
    border-radius: 50%;
    background-color: rgba($color-grey-light-1, $alpha: 0.8);
    top: 67vh;
    left: 85vw;
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      background-color: rgba($color-grey-light-1, $alpha: 0.8);
    }
  }
  &-copy {
    height: 6rem;
    width: 8rem;
    background-color: #ffc730;
    border-radius: 10px;
    font-weight: 700;
    font-size: 2rem;
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      background-color: #ffc730;
    }
  }
  &-floating {
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    background-color: red;
    height: 1rem;
    width: 1rem;
    opacity: 0.3;
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  }
  &-text {
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &:link,
    &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all 0.2s;
    }
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
      transform: translateY(-2px);
    }
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  }
  &-help {
    transition: all 0.2s;
    position: absolute;
    z-index: 100;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: rgba($color-grey-light-1, $alpha: 0.8);
    top: 67vh;
    left: 85vw;
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  }
  &-scroll__helpline {
    position: absolute;
    z-index: 5;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 72vh;
    &:active,
    &:focus {
      outline: none;
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      background-color: rgba($color-grey-light-1, $alpha: 0.8);
    }
  }
}
