.emergencies {
  min-height: 60vh;
  width: 100%;
  &__searchBar {
    text-align: center;
    min-height: 10rem;
    width: 100%;
    background-color: #1e2428;
    &-distance {
      &-val {
        width: 50rem;
        height: 5rem;
        border-radius: 10px;
        background-color: $color-grey-dark-1;
        border: none;
        padding: 1rem;
        overflow: hidden;
        @include respond(phone) {
          width: 25rem;
          font-size: 2rem;
          height: 4rem;
        }
      }
    }
    &-text {
      font-size: 3rem;
      color: #00d672;
      @include respond(phone) {
        font-size: 1.5rem;
      }
    }
  }
  &__Cards {
    position: relative;
    min-height: 30rem;
    width: 100%;
    background-color: $color-grey-dark-1;
    padding: 1rem;
  }
  &__Card {
    position: relative;
    min-height: 7rem;
    width: 94%;
    padding: 0.3rem;
    border-radius: 1rem;
    background-color: black;
    margin: 1rem auto;
    font-size: 4rem;
    color: #f6ff56;
    @include respond(phone) {
      font-size: 1.5rem;
      min-height: 4rem;
    }
    &-help,
    &-cancel {
      position: absolute;
      text-align: center;
      border-radius: 5px;
      left: 95%;
      top: 50%;
      transform: translate(-95%, -50%);
      background-color: #3cffec;
      color: black;
      font-weight: 600;
      font-size: 16px;
      @include respond(phone) {
        font-size: 8px;
        height: 3rem;
      }
    }
    &-cancel {
      background-color: orangered;
      &:hover {
        background-color: orangered;
      }
    }
  }
}
#search-emergencies {
  width: 8rem;
  height: 4rem;
  border-radius: 10rem;
  margin: 2rem;
}
input,
select,
textarea {
  color: white;
  font-size: 3rem;
  font-weight: 500;
}
