.emergencyChatBox {
  height: 85rem;
  width: 100%;
  background-color: #1e2428;
  position: relative;
  font-size: 10rem;
  &__heading {
    position: absolute;
    width: 100%;
    top: 7%;
    background-image: linear-gradient(
      to right,
      white,
      $color-tertiary-light,
      $color-tertiary-dark
    );
  }
  &__messenger {
    overflow: scroll;
    height: 70%;
    width: 90%;
    @include respond(tab-land) {
      width: 95%;
    }
    @include respond(phone) {
      width: 99%;
    }
    background-color: $color-grey-dark-1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__message {
    position: relative;
    border-radius: 3px;
    background-color: black;
    word-wrap: break-word;
    color: #f6ff56;
    min-height: 5rem;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    padding: 1rem;
  }
}
