.section-login-form {
  height: 80vh;
  width: 100vw;
}
.login-from {
  height: 100%;
  width: 100%;

  &__heading {
    color: black;
  }
  &__input {
    &-button {
      position: absolute;
      left: 50%;
      transform: translateY(-50%);
    }
  }
}
