.nationalEmergencyHelpline {
  min-height: 80rem;
  padding: 2rem;

  background-color: black;
  &__heading {
    width: 100%;
  }
  &__Card {
    position: relative;
    display: inline-block;
    background-color: $color-grey-dark-2;
    height: 20rem;
    border-radius: 2rem;
    &-icon {
      display: inline-block;
      height: 6rem;
      width: 6rem;
      margin: 2rem;
      float: left;
      & img {
        width: 100%;
        height: auto;
      }
    }
    &-btn {
      margin: 2rem;
      position: relative;
      display: inline-block;
      float: right;
    }
    &-userName {
      display: inline-block;
      height: 6rem;
      width: 57%;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      line-height: 5rem;
      color: white;
      font-weight: 600;
      text-shadow: 0.1rem 0.1rem 0.3rem black;
      @include respond(tab-land) {
        width: 57%;
        font-size-adjust: 2rem;
      }
      @include respond(tab-port) {
        width: 55%;
      }
      float: left;
      margin: 2rem 0rem 2rem 0rem;
    }
    &-phone {
      text-align: center;
      border-radius: 10px;
      display: inline-block;
      background-color: $color-grey-dark-3;
      color: white;
      height: 6rem;
      width: 52%;
      font-size: 3rem;
      @include respond(tab-land) {
        width: 40%;
      }
      @include respond(tab-port) {
        width: 52%;
      }
      @include respond(phone) {
        width: 40%;
      }
      margin: 2rem;
      position: relative;
    }
  }
}
