.notifyAvengers {
  min-height: 80rem;
  width: 100%;
  background-color: $color-grey-dark-2;
  padding: 2rem;
  &__heading {
    width: 100%;
  }
  &__card {
    position: relative;
    display: inline-block;
    background-color: $color-grey-dark-4;
    height: 25rem;
    width: 25%;
    border-radius: 2rem;
    float: left;

    &-addButton {
      background-color: $color-grey-dark-4;
      @include absCenter;
    }
  }
}
