.form-user-data {
  &__profile {
    &-photo {
      width: 8rem;
      border-radius: 50%;
      overflow: hidden;
      & img {
        width: 100%;
        height: auto;
        object-fit: fill;
      }
    }
  }
}
