@keyframes scaleDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -25%) scale(0.2);
    -webkit-transform: translate(-50%, -25%) scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
  }
}
.pulse {
  overflow: visible;
  position: relative;
}
.pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1)
    infinite;
  animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1;
}
@-webkit-keyframes pulse-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(10);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(20);
    transform: scale(20);
  }
}
@keyframes pulse-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(10);
    transform: scale(20);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(30);
    transform: scale(30);
  }
}
